src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getHotels" doc:id="f61a8853-ca33-4b48-b791-98b528381cf4" >
		<set-variable value="#[payload..body[0][0][0]]" doc:name="Copy_of_Set Variable" doc:id="6f539e38-80cf-4dcc-9904-76fc7aa6416b" variableName="place" />
		<db:select doc:name="Copy_of_Select" doc:id="2b98f021-e8a9-4789-99b4-cdfcdf4902b9" config-ref="Database_Config" >
			<db:sql ><![CDATA[select * from TAJ where Place= :place;
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{ place
	: vars.place
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="9f199d0d-5a76-4288-98e2-4d6658982aef" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Copy_of_Choice" doc:id="59f3ce5f-4c7a-41fb-8ca2-facb6f71d88d" >
			<when expression="#[sizeOf(payload)==0]" >
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="336f830e-047e-4e3d-a679-1f7f38534e39" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        "response":{"hotel":"No hotels available"}
    } write "application/xml"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<set-variable value="#[payload]" doc:name="Copy_of_Set Variable" doc:id="2167cbf4-2340-4e31-bd52-53a2e8210cc7" variableName="data" />
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="df19da32-5933-4743-88c7-ebe00314a376" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        "response":{"hotel":( vars.data)}
    } write "application/xml"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="bookFlights" doc:id="d74ece07-46c9-474b-bf79-4fb298791474" >
		<set-variable value="#[payload..body[0][0][0]]" doc:name="Copy_of_Set Variable" doc:id="63efc72d-c134-400a-937e-fde9377d04a0" variableName="place" />
		<set-variable value="#[payload..body[0][0][1]]" doc:name="Copy_of_Set Variable" doc:id="e60332f0-3830-4736-ae4f-1cf9d1c6e4be" variableName="number_of_rooms" />
		<set-variable value="#[payload..body[0][0][2]]" doc:name="Copy_of_Set Variable" doc:id="332abb76-d04f-4478-845e-67978f5822f5" variableName="date" />
		<db:select doc:name="Copy_of_Select" doc:id="273658e3-d535-4339-9f36-a495c5018c68" config-ref="Database_Config" >
			<db:sql ><![CDATA[select rooms_available from TAJ where Place= :Place AND Date= :date;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	Place: vars.place,
	date: vars.date
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="9fcdb165-d1fb-4c7e-a6a0-a5f171d461eb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload[0].rooms_available]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Copy_of_Choice" doc:id="dea592aa-9d24-4c8f-8036-606076e4e415" >
			<when expression="#[payload == null]" >
				<set-payload value="No rooms available" doc:name="Copy_of_Set Payload" doc:id="3e4fdf20-8cbf-4a64-96bb-fd182903f1d7" />
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="c48f8d91-79fa-4ab7-961f-f2bae9d82450" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        "response":payload
    } write "application/xml"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="#[vars.number_of_rooms&gt;payload]" >
				<set-payload value='#["only "++(payload) as String++" rooms are available"]' doc:name="Copy_of_Set Payload" doc:id="d4184b56-16e9-4a62-bdd8-f7f0d7a45081" />
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="be368e8c-2033-49cd-8dca-3f3854c174ea" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        "response":payload
    } write "application/xml"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<db:update doc:name="Copy_of_Update" doc:id="186d734b-08d4-48d9-bb72-ad0f69c99ad2" config-ref="Database_Config" >
					<db:sql ><![CDATA[UPDATE TAJ SET rooms_available=rooms_available - :rooms where Place= :Place AND Date= :date ]]></db:sql>
					<db:input-parameters ><![CDATA[#[{
	rooms:vars.number_of_rooms as Number,
	Place:vars.place,
	date:vars.date
}]]]></db:input-parameters>
				</db:update>
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="d8db2683-e3b9-46e3-ba60-0ee4744d2c44" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        "response":"rooms booked succesfully !"
    } write "application/xml"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
